.ekp-helper * {
  margin: 0;
  padding: 0;
}

.ekp-helper.tool-btn {
  width: 100%;
  text-align: center;
  margin: 10px 10px 20px;
  padding: 10px;
  border-bottom: : 1px solid #666;
}

.ekp-helper .button {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #dcdfe6;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.ekp-helper .button:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}