* {
  margin: 0;
  padding: 0;
}

/*a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}

a:active {
  text-decoration: none;
  color: #000;
}*/

.warp {
  width: 160px;
  padding: 5px;
  font-size: 14px;
}


/*标题*/

.warp-title {
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  border-bottom: 1px dashed #666;
}

.warp-title p {
  display: inline-block;
  vertical-align: top;
  /*border: 1px solid red;*/
}



/*内容区*/

.warp-content {
  margin-top: 5px;
}

.warp-content ul li {
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  cursor: pointer;
  /*border: 1px solid red;*/
}

.warp-content ul li img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  /*border-bottom: 1px solid green;*/
}

.warp-content ul li:hover {
  opacity: 0.6;
}